<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Just a friendly reminder</h1>
<p>you are scheduled to work a shift at the Bird tomorrow.<br/>
  <strong>Don't Be Late!</strong></p>
</body>
</html>