  <h5>Future Development:</h5>
  <ul>
    <li>add new hauler on date, set # riders: build hauler and set of riders</li>

    <li>implement trash: remove seat/rider from hauler</li>
    <li>Wizard to add haulers to system</li>
  </ul>
