<h5>TODO LIST:</h5>
<ul>
  <li>PERMISSIONS: Ensure user can perform operation(s) select, drop etc...</li>
  <ul>
    <li>user can only drop their own entry unless admin</li>
    <li>user can only select if blank</li>
    <li>user can only export if admin</li>
    <li>user can only drive if driver</li>
    <li>user can only drop driver if admin</li>
    <li>user cannot select if already driving or riding</li>
  </ul>

  <h5>Future Development:</h5>
  <ul>
    <li>implement wrench: set driver to host</li>
    <li>implement wrench: set rider to host</li>
    <li>implement trash: remove seat/rider from hauler</li>
    <li>add new hauler on date, set # riders: build hauler and set of riders</li>
    <li>Wizard to add haulers to system</li>
  </ul>
</ul>