<h1>Mail Addressing</h1>

<h4>
  You can cut and paste the email addresses in the box below into your email to send to the hosts you've designated.
</h4>

Email Designation: <strong><%= @email_type %></strong>

<div >
  <textarea rows="20" class='span10'>
    <%= @emailaddress %>
  </textarea>
</div>
<button>
  <%= link_to "Home", root_path %>
</button>