<div class='span6 shift_user_listing'>
  <h3>Current Shift Selections</h3>
  <table class='table table-striped'>
    <tr>
      <th>Date</th>
      <th>Shift</th>
      <th>Drop?</th>
    </tr>


    <% current_user.get_shift_list.each do |s| %>
        <tr>
          <td><%= "#{s.day_of_week}:#{s.shift_date.strftime('%Y-%m-%d')}" %></td>

          <td><%= "#{s.shift_type.short_name[0..1]}:#{s.shift_type.description}:#{s.shift_type.tasks}" %></td>
          <td>

            <% if s.can_drop current_user %>
                <%= link_to "<i class='icon-trash btn btn-danger' title='drop shift'>&nbsp;&nbsp;Drop</i>".html_safe,  "/drop_shift/#{s.id}",
                            :confirm => "You sure you want to drop this shift?", :title => "Clear Shift", :class=>'drop_shift_btn select_btn' %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
</div>