<div class='user_shift_message_box col-sm-4 col-md-4'>
  <h4>Selection Status
    <% if shift_page == false %>
        [<a href='<%= shifts_path %>'>Go To Shifts Page]</a>
    <% end %>
  </h4>
  <% user.shift_status_message.each do |m| %>
    <%= m.html_safe %>   <br/>
      <br/>
  <% end %>
  <br/>
</div>