<div class='user_status_box span2'>
  <strong>Active?: </strong>
  <%= @user.active_user? ? "Yes" : "No" %>
  <br/>

  <strong>Confirmed? </strong>
  <%= @user.confirmed? ? "Yes" : "No" %><br/>
</div>