<div class='user_status_box'>
  <strong>Alt Email: </strong>
  <%= @user.alt_email %> <br/>

  <strong>Active?: </strong>
  <%= @user.active_user? ? "Yes" : "No" %>
  <br/>


  <strong>Confirmed? </strong>
  <%= @user.confirmed? ? "Yes" : "No" %><br/>
</div>