<div class='user_status_box col-sm-2 col-md-2'>
  <strong>Active?: </strong>
  <%= @user.active_user? ? "Yes" : "No" %>
  <br/>

  <strong>Confirmed? </strong>
  <%= @user.confirmed? ? "Yes" : "No" %><br/>
</div>