<h1>Shift Print Out For <%=  @user.name %> </h1>
<br/>
Click<strong><%= link_to " Here ", "/users/#{@user.id}" %></strong>to return to Profile form.
<br/>


<table class="table table-condensed table-striped">

  <tr class="headerrow">
    <th class="col-sm-2 col-md-2" >Shift Date</th>
    <th class='col-sm-3 col-md-3' >Shift Name</th>
    <th class='col-sm-3 col-md-3' >Times</th>
    <th class='col-sm-3 col-md-3' >Tasks/Description</th>
    </strong>
  </tr>
  <% @user.working_shifts.each do |object| %>
      <tr>
        <%= render 'shift_entry_for_print', :object => object %>
      </tr>
  <% end %>
</table>
