<div class='row' id='show_page'>
    <%= render '/shared/user_profile_box', :user => @user %>
  <div class="span1">&nbsp;</div>
    <%= render 'status_box', :user => @user %>
</div>
<br/>

<% if current_user.has_role?(:admin) && (!@user.notes.blank? ) %>
    <br/>
    <div class='user_notes_box'>
      <strong>Notes: </strong><br/>
      <%= @user.notes %> <br/>
    </div>
<% end %>


<%= render "/users/shift_summary", :user => @user %>


<br/>


