<div class='shifts_today_box span6'>
  <%= render '/shared/shifts_for_date', :shift_date => Date.today %>

  <%= render '/shared/shifts_for_date', :shift_date => (Date.today + 1.day) %>

  <%= render '/shared/shifts_for_date', :shift_date => (Date.today + 2.days) %>
</div>