<div class='shift_summary_box span12'>
  <strong>Shift Report</strong>
  <table class="table table-striped" >
    <tr>
      <th>Need To Pick</th>
      <th>Scheduled</th>
      <th>Worked</th>
      <th>Target</th>
    </tr>
    <tr>
      <td>
        <strong> <%= user.get_working_shifts.count <= 20 ? 20 - user.get_working_shifts.count : 0 %> </strong>
      </td>
      <td>
        <strong> <%= user.get_working_shifts.count %> </strong>
      </td>
      <td>
        <strong> <%= user.get_working_shifts.delete_if { |s| s.shift_date > Date.today() }.count %> </strong>
      </td>
      <td>
        <strong> 20 </strong>
      </td>
    </tr>
  </table>
</div>
