<div id="twitter_data" class="collapse out">
  <div class="well">
    <div class="row">
      <div class="span3">
        <a class="twitter-timeline"
           href="https://twitter.com/uacwasatch?ref_src=twsrc%5Etfw"
           data-height="500">
          @UtahAvalancheCenter</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
        </script>
      </div>
      <div class="span5">
        <a class="twitter-timeline"
           href="https://twitter.com/snowbirdalerts?ref_src=twsrc%5Etfw"
           data-height="500">@snowbirdalerts</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
        </script>
      </div>
      <div class="span3">
        <a class="twitter-timeline"
           href="https://twitter.com/udotcottonwoods?ref_src=twsrc%5Etfw"
           data-height="500">@UtahAvalancheCenter</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
        </script>
      </div>
    </div>
  </div>
</div>
