<h3>Twitter Feeds</h3>
<div class="row">
  <div class="span4">
    <a class="twitter-timeline"
       href="https://twitter.com/uacwasatch?ref_src=twsrc%5Etfw"
      data-height="500">
      @UtahAvalancheCenter</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
    </script>
  </div>
  <div class="span4">
    <a class="twitter-timeline"
       href="https://twitter.com/snowbirdalerts?ref_src=twsrc%5Etfw"
       data-height="500">@snowbirdalerts</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
    </script>
  </div>
  <div class="span4">
    <a class="twitter-timeline"
       href="https://twitter.com/udotcottonwoods?ref_src=twsrc%5Etfw"
       data-height="500">@UtahAvalancheCenter</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
    </script>
  </div>
</div>
