<div ng-controller='ShiftCtrl'>
  <div ng-controller='ShiftCtrl'>
    <h1>Snowbird Mountain Host: Shifts</h1>
    <input type="text" class="searchbox" name="s" value="" ng-model="shift_filter" placeholder='Enter Shift Filter here'/>
      <span ng-show='current_is_admin'>
        <a href="#" class='btn btn-info' ng-click='newShift()'>New <i class='icon-male icon-large icon-white'></i></a> <br/>
      </span>
    <br/>
    <hr/>

    <table class='table table-striped'>
      <thead>

      <th>Date</th>
      <th>Host</th>
      <th>Job</th>
	  <th>Status</th>
      <th>Options</th>
      </thead>
      <tbody>
      <tr ng-repeat="s in shiftList ">
        <td>
          {{ s.shift_date }}
        </td>
        <td>

          <span ng-show="showDeSelectUser(s)" >
             <a href="#" class='btn btn-warning'><i class='icon-cut icon-large icon-white' ng-click='deSelectShift(s)' title='de-select shift'></i></a>
                &nbsp;&nbsp;{{ s.user_name }}
          </span>
          <span ng-show="s.user_name == '' && s.can_select">
             <a href="#" class='btn btn-select'><i class='icon-male icon-large icon-white' ng-click='selectShift(s)' title='select shift'></i></a>
          </span>
        </td>
        <td>
          {{ s.shift_type_short_name + " - " +  s.shift_type_description }}
        </td>
        <td>
          {{ s.status }}
        </td>
        <td>
          <span ng-show="current_is_admin">
            <a href="#" class='btn btn-danger'><i class='icon-trash icon-large icon-white' ng-click='deleteShift(s)' title='delete shift'></i></a>
          </span>
        </td>

      </tr>
      </tbody>
    </table>

    <%= render "/shared/shift_modal" %>
  </div>
</div>