<td>
  <%= object.name %>
</td>
<td>
  <%= number_to_phone(object.home_phone) %>
</td>
<td>
  <%= number_to_phone(object.cell_phone) %>
</td>
<td>
  <%= link_to object.email, "/send_mail/#{object.email}" %>
</td>