<div class="row">
  <div class="span12">
    <h1 class="centered">About the Mountain Host Program</h1> <br/>
    The Mountain Host Program at Snowbird is "Steep in Service and Deep in Information".
    We are the employees wearing the green coats on the mountain.  You will know when you
    see us because we'll be smiling and eager to help you find what you're looking for,
    help you if you are hurt, or generally ensure that you have a great experience on our
    magical mountain.
  </div>
</div>
<br/><br/>

<div class="row">
  <div class="span12">
    <h3 class="centered"> Contact Info for Snowbird and The Mountain Host Program</h3>
  </div>
</div>
<br/>

<div class="row">
  <div class="span1">
    &nbsp;&nbsp;
  </div>
  <div class="span4">
    <h4>Sarah Reifsnyder</h4>
    Mountain Host Coordinator<br/>
    Snowbird Ski and Summer Resort<br/>
    Office: (801) 933-3333 ext 4048<br/>
    Cell: (302) 245-8217
    <a href="mailto:sreifsnyder@snowbird.com" > Email </a></p>

    <p>
    <h4>For Reservations or Cancellations:</h4>
    Phone: 800-232-9542<br/>
    Fax: 801-947-8227<br/>
    <%= link_to "Reservations Email","mailto:lodging@snowbird.com" %></p>

    <p>
    <h4>For Resort Information:</h4>
    Resort Switchboard: 801-933-2222<br/>
    Mountain Ops: 801-933-2130<br/>
    Snow Conditions: 801-933-2100<br/>
    Road Conditions: 801-933-2100</p>
  </div>

  <div class="span1">
    &nbsp;
  </div>

  <div class="span5">
    <h4>Mailing Address:</h4>
    Snowbird Ski and Summer Resort<br/>
    P.O. Box 929000<br/>
    Snowbird, UT 84092-9000</p>

    <p>
    <h4>Physical Address:</h4>
    Snowbird Ski and Summer Resort<br/>
    Highway 210, Little Cottonwood Canyon<br/>
    Snowbird, UT<br/>
    84092</p>

    <p>
      <%= link_to "Main Snowbird Web Site", "http://www.snowbird.com" %>
    </p>

  </div>
</div>
