<div class="row">
  <div class="span8 title round">
    <h1>Sorry for the inconvenience!</h1>
    The page you are attempting to view is under construction...
    <%= image_tag("construction.jpg") %>
    <p>Please come back soon and try again...</p>

  </div>
</div>