<div class="row">
    <div class="span12">
      <h1>Shift Info Card</h1>
      <p> <strong>The following is the shift "yellow card" information.</strong></p>

    </div>
</div>

<div >
  <table class="table table-striped table-bordered" style="background-color: #e7cb98;">
    <tr>
      <th colspan="6"><h3>Monday - Thursday</h3></th>
    </tr>
    <tr >
      <th ></th>
      <th>Greeting</th>
      <th>Tour</th>
      <th>Mtn Pres</th>
    </tr>

    <tr>
      <td>P1</td>
      <td>Portico</td>
      <td>10:30</td>
      <td>PM</td>
    </tr>

    <tr>
      <td>P2 (TL)</td>
      <td>Plaza Deck</td>
      <td>10:30</td>
      <td>PM</td>
    </tr>

    <tr>
      <td>P3</td>
      <td>Portico Late</td>
      <td>9:30</td>
      <td>PM</td>
    </tr>

    <tr>
      <td>P4</td>
      <td>Creekside Late</td>
      <td>9:30</td>
      <td>PM</td>
    </tr>
  </table>
</div>


<hr/>

<div >
  <table class="table table-striped table-bordered" style="background-color: #e7cb98;">
    <tr>
      <th colspan="6"><h3>Friday</h3></th>
    </tr>
    <tr >
      <th ></th>
      <th>Greeting Location</th>
      <th>Tour</th>
      <th>Big Emma<br/>Customer Service</th>
      <th>Mountain Presence</th>
    </tr>

    <tr>
      <td>G1</td>
      <td>Creekside</td>
      <td></td>
      <td>1:30, 2:30, 3:30</td>
      <td>AM</td>
    </tr>

    <tr>
      <td>G2</td>
      <td>Hidden Peak</td>
      <td></td>
      <td>1:00, 2:00, 3:00</td>
      <td>AM</td>
    </tr>
    <tr>
      <td>G3</td>
      <td>Chickadee</td>
      <td></td>
      <td>10:30, 11:30, 12:30</td>
      <td>PM</td>
    </tr>
    <tr>
      <td>G4</td>
      <td>Creekside Late</td>
      <td></td>
      <td>10:00, 11:00, 12:00</td>
      <td>PM</td>
    </tr>
    <tr>
      <td>P1</td>
      <td>Portico</td>
      <td>10:30</td>
      <td>End of Bridge 3:00 - 4:00</td>
      <td>PM</td>
    </tr>
    <tr>
      <td>P2</td>
      <td>Peruvian Express</td>
      <td>10:30</td>
      <td>End of Bridge 3:00 - 4:00</td>
      <td>PM</td>
    </tr>
    <tr>
      <td>P3</td>
      <td>Plaza Deck</td>
      <td>9:30</td>
      <td></td>
      <td>PM</td>
    </tr>
    <tr>
      <td>P4</td>
      <td>Portico Late</td>
      <td>9:30</td>
      <td></td>
      <td>PM</td>
    </tr>
    <tr>
      <td>TL</td>
      <td>Team Leader</td>
      <td>Roam</td>
      <td>Roam</td>
      <td>As Available</td>
    </tr>
  </table>
</div>

<hr/>

<div >
  <table class="table table-striped table-bordered" style="background-color: #e7cb98;">
    <tr>
      <th colspan="6"><h3>Saturday / Sunday / Holiday</h3></th>
    </tr>
    <tr >
      <th ></th>
      <th>Greeting Location</th>
      <th>Tour</th>
      <th>Big Emma<br/>Customer Service</th>
      <th>Chickadee</th>
      <th>Mountain Presence</th>
    </tr>

    <tr>
      <td>G1</td>
      <td>Creekside Late</td>
      <td></td>
      <td>10:00, 11:00, 12:00</td>
      <td></td>
      <td>PM - Gad</td>
    </tr>

    <tr>
      <td>G2</td>
      <td>Portico</td>
      <td></td>
      <td>10:30, 11:30, 12:30</td>
      <td></td>
      <td>PM - Gad</td>
    </tr>
    <tr>
      <td>G3</td>
      <td>Creekside AM</td>
      <td></td>
      <td>1:00, 2:00, 3:00</td>
      <td></td>
      <td>AM - Gad</td>
    </tr>
    <tr>
      <td>G4</td>
      <td>Creekside AM</td>
      <td></td>
      <td>1:30, 2:30, 3:30</td>
      <td></td>
      <td>AM - Gad</td>
    </tr>
    <tr>
      <td>F1</td>
      <td>Plaza Inside Hall</td>
      <td></td>
      <td>End of Bridge 3-4:00</td>
      <td></td>
      <td>As assigned</td>
    </tr>
    <tr>
      <td>F2</td>
      <td>Plaza 2nd Floor</td>
      <td></td>
      <td>End of Bridge 3-4:00</td>
      <td></td>
      <td>As assigned</td>
    </tr>
    <tr>
      <td>H1</td>
      <td>Hidden Peak</td>
      <td></td>
      <td>Hid Peak Rotations</td>
      <td></td>
      <td>Min Basin</td>
    </tr>
    <tr>
      <td>H2</td>
      <td>Hidden Peak</td>
      <td></td>
      <td>Hid Peak Rotations</td>
      <td></td>
      <td>Min Basin</td>
    </tr>
    <tr>
      <td>P1</td>
      <td>Portico</td>
      <td>10:30</td>
      <td></td>
      <td></td>
      <td>PM - P/MB</td>
    </tr>
    <tr>
      <td>P2</td>
      <td>Peruvian Express</td>
      <td>10:30</td>
      <td></td>
      <td></td>
      <td>PM - P/MB</td>
    </tr>
    <tr>
      <td>P3</td>
      <td>Portico Late</td>
      <td>9:30</td>
      <td></td>
      <td></td>
      <td>PM - P/MB</td>
    </tr>
    <tr>
      <td>P4</td>
      <td>Portico Late</td>
      <td>9:30</td>
      <td></td>
      <td></td>
      <td>PM - P/MB</td>
    </tr>
    <tr>
      <td>C1</td>
      <td>Plaza Deck</td>
      <td></td>
      <td></td>
      <td>AM</td>
      <td>PM - Gad</td>
    </tr>
    <tr>
      <td>C2</td>
      <td>Plaza Deck</td>
      <td></td>
      <td></td>
      <td>AM</td>
      <td>PM - Gad</td>
    </tr>
    <tr>
      <td>C3</td>
      <td>Chickadee</td>
      <td></td>
      <td></td>
      <td>PM</td>
      <td>AM - Gad</td>
    </tr>
    <tr>
      <td>C4</td>
      <td>Cliff Back Door</td>
      <td></td>
      <td></td>
      <td>PM</td>
      <td>AM - Gad</td>
    </tr>
    <tr>
      <td>TL</td>
      <td>Team Leader</td>
      <td>Roam</td>
      <td>Roam</td>
      <td>Roam</td>
      <td>As Available</td>
    </tr>
  </table>
</div>
Chickadee start 9:15-9:30 and 1:00-1:15<br/>
Thank You/Goodbye 3:15 to about 4:50

<br/><br/>

<div class="row">
  <div class="span1">
    &nbsp;
  </div>
  <div class="span6">
    <strong>John Cotter's Phone Number:</strong>&nbsp;801-694-8618 <br/>
    <strong>Hidden Peak Phone Number:</strong>&nbsp;801-933-2117   <br/><br/>
  </div>
  <div class="span5">
    <strong>Radio Channels:</strong> <br />
    <strong>Ch1</strong> Ski Patrol / Hidden Peak<br />
    <strong>Ch2</strong> Building Services<br />
    <strong>Ch3</strong> Public Safety&nbsp; 801-933-2120&nbsp;&nbsp; Alt. 801 933-2137<br />
    <strong>Ch4</strong> Mountain School<br />
    <strong>Ch5</strong> Tram & Lifts<br />
    <strong>Ch6</strong> Snowcats<br />
    <strong>Ch15</strong> Hosts<br /></p>
  </div>
</div>




