<div class="row">
	<div class="span12">
		<h2>Mountain Host Shift Selection Bingo Dates</h2>
		
		<strong>NOTES:</strong>  shift select starts at midnight on the date listed.  <br/>
		Rookies have their first round of selections already done prior to the first day of the bingo process....<br/>
		<p> 
		
		<h3>Round 1  - All Hosts Pick 5 Shifts</h3>
		<ul>
			<li> 11/9   Group 1</li>
			<li> 11/10  Group 2</li>
			<li> 11/11  Group 3</li>
			<li> 11/11  Rookies have already picked...</li>
		</ul>
		
		<h3>Round 2  - All Hosts Pick 5 Shifts</h3>
		<ul>
			<li> 11/12  Group 1</li>
			<li> 11/13  Group 2</li>
			<li> 11/14  Group 3 & Rookies</li>			
		</ul>
		

		<h3>Round 3  - All Hosts Pick 5 Shifts</h3>
		<ul>
			<li> 11/15  Group 1</li>
			<li> 11/16  Group 2</li>
			<li> 11/17  Group 3 & Rookies</li>
		</ul>

		<h3>Round 4  - 11/18   All Hosts Pick Remaining Shifts</h3>
		<ul>
			<li> Group 1,2 & 3 all Pick 3 shifts </li>
			<li> Rookies Pick 1 shift </li>
		</ul>
		</p>
	</div>
</div>
	
	