<div class="row">
    <div class="span12">
      <h1>Shift Info Card</h1>
      <p> <strong>The following is the shift "yellow card" information.</strong></p>

    </div>
</div>

<div >
  <table class="table table-striped table-bordered" style="background-color: #e7cb98;">
    <tr>
      <th colspan="6"><h3>Weekday Shift Schedule</h3></th>
    </tr>
    <tr >
      <th >Host</th>
      <th>Tour</th>
      <th colspan="3">Greeting Location</th>
    </tr>
    <tr>
      <td>P1</td>
      <td>10:30 TOUR</td>
      <td colspan="3">Portico Meet & Greet</td>
    </tr>

    <tr>
      <td>P2</td>
      <td>10:30 TOUR</td>
      <td colspan="3">Plaza Deck Meet & Greet</td>
    </tr>
    <tr>
      <td>P3</td>
      <td>9:30 TOUR</td>
      <td colspan="3">Portico Late</td>
    </tr>
    <tr>
      <td>P4</td>
      <td>9:30 TOUR</td>
      <td colspan="3">Creekside Late</td>
    </tr>
  </table>
</div>

<hr/>

<div >
  <table class="table table-striped table-bordered" style="background-color: #e7cb98;">
    <tr>
      <th colspan="6"><h3>Friday Meet/Greet and Slow Skiing</h3></th>
    </tr>
    <tr >
      <th >Host</th>
      <th>Greeting Location</th>
      <th>Speed Control 1<br/>Big Emma</th>
      <th>Speed Control 2<br/>Big Emma</th>
      <th>Speed Control 3<br/>Big Emma</th>
    </tr>

    <tr>
      <td>G1</td>
      <td>Creekside</td>
      <td>1:30 - 2:00</td>
      <td>2:30 - 3:00</td>
      <td>3:30 - 4:00</td>
    </tr>

    <tr>
      <td>G2</td>
      <td>Hidden Peak</td>
      <td>1:00 - 1:30</td>
      <td>2:00 - 2:30</td>
      <td>3:00 - 3:30</td>
    </tr>
    <tr>
      <td>G3</td>
      <td>Chickadee</td>
      <td>10:30 - 11:00</td>
      <td>11:30 - 12:00</td>
      <td>12:30 - 1:00</td>
    </tr>
    <tr>
      <td>G4</td>
      <td>Creekside Late</td>
      <td>10:00 - 10:30</td>
      <td>11:00 - 11:30</td>
      <td>12:00 - 12:30</td>
    </tr>
    <tr>
      <td>P1</td>
      <td>Portico</td>
      <td>10:30 Tour</td>
      <td>*SC EOB</td>
      <td>3:00 - 4:00</td>
    </tr>
    <tr>
      <td>P2</td>
      <td>Peruvian Express</td>
      <td>10:30 Tour</td>
      <td>*SC EOB</td>
      <td>3:00 - 4:00</td>
    </tr>
    <tr>
      <td>P3</td>
      <td>Plaza Deck</td>
      <td>9:30 Tour</td>
      <td>**</td>
      <td>**</td>
    </tr>
    <tr>
      <td>P4</td>
      <td>Portico Late</td>
      <td>9:30 Tour</td>
      <td>**</td>
      <td>**</td>
    </tr>
    <tr>
      <td>TL</td>
      <td>Team Leader</td>
      <td>Roam</td>
      <td>Roam</td>
      <td>Roam</td>
    </tr>
  </table>
</div>

<hr/>

<div >
  <table class="table table-striped table-bordered" style="background-color: #e7cb98;">
    <tr>
      <th colspan="6"><h3>Weekend/Holiday Meet/Greet and Slow Skiing</h3></th>
    </tr>
    <tr >
      <th >Host</th>
      <th>Greeting Location</th>
      <th>Speed Control 1<br/>Big Emma</th>
      <th>Speed Control 2<br/>Big Emma</th>
      <th>Speed Control 3<br/>Big Emma</th>
    </tr>

    <tr>
      <td>G1</td>
      <td>Creekside</td>
      <td>1:30 - 2:00</td>
      <td>2:30 - 3:00</td>
      <td>3:30 - 4:00</td>
    </tr>

    <tr>
      <td>G2</td>
      <td>Hidden Peak</td>
      <td>1:30 - 2:00</td>
      <td>2:30 - 3:00</td>
      <td>3:30 - 4:00</td>
    </tr>
    <tr>
      <td>G3</td>
      <td>Plaza Deck</td>
      <td>1:00 - 1:30</td>
      <td>2:00 - 2:30</td>
      <td>3:00 - 3:30</td>
    </tr>
    <tr>
      <td>G4</td>
      <td>Portico</td>
      <td>1:00 - 1:30</td>
      <td>2:00 - 2:30</td>
      <td>3:00 - 3:30</td>
    </tr>
    <tr>
      <td>G5</td>
      <td>Plaza Inside Hall</td>
      <td>10:30 - 11:00</td>
      <td>11:30 - 12:00</td>
      <td>12:30 - 1:00</td>
    </tr>
    <tr>
      <td>G6</td>
      <td>Plaza 2nd Floor</td>
      <td>10:30 - 11:00</td>
      <td>11:30 - 12:00</td>
      <td>12:30 - 1:00</td>
    </tr>
    <tr>
      <td>G7</td>
      <td>Creekside Late</td>
      <td>10:00 - 10:30</td>
      <td>11:00 - 11:30</td>
      <td>12:00 - 12:30</td>
    </tr>
    <tr>
      <td>G8</td>
      <td>Creekside Late</td>
      <td>10:00 - 10:30</td>
      <td>11:00 - 11:30</td>
      <td>12:00 - 12:30</td>
    </tr>
    <tr>
      <td>P1</td>
      <td>Portico</td>
      <td>10:30 Tour</td>
      <td>**</td>
      <td>**</td>
    </tr>
    <tr>
      <td>P2</td>
      <td>Peruvian Express</td>
      <td>10:30 Tour</td>
      <td>**</td>
      <td>**</td>
    </tr>
    <tr>
      <td>P3</td>
      <td>Plaza Deck</td>
      <td>9:30 Tour</td>
      <td>*SC EOB</td>
      <td>3:00 - 4:00</td>
    </tr>
    <tr>
      <td>P4</td>
      <td>Plaza Deck</td>
      <td>9:30 Tour</td>
      <td>*SC EOB</td>
      <td>3:00 - 4:00</td>
    </tr>
    <tr>
      <td>C1</td>
      <td>Chickadee</td>
      <td>Chickadee AM/PM</td>
      <td>**</td>
      <td>**</td>
    </tr>
    <tr>
      <td>C2</td>
      <td>Cliff Back Door</td>
      <td>Chickadee AM/PM</td>
      <td>**</td>
      <td>**</td>
    </tr>
    <tr>
      <td>C3</td>
      <td>Portico Late</td>
      <td>Chickadee AM/PM</td>
      <td>**</td>
      <td>**</td>
    </tr>
    <tr>
      <td>C4</td>
      <td>Portico Late</td>
      <td>Chickadee AM/PM</td>
      <td>**</td>
      <td>**</td>
    </tr>
    <tr>
      <td>TL</td>
      <td>Team Leader</td>
      <td>Roam</td>
      <td>Roam</td>
      <td>Roam</td>
    </tr>
  </table>
</div>

<br/><br/>

<div class="row">
  <div class="span2">
    &nbsp;
  </div>
  <div class="span5">
    <strong>John Cotter's Phone Number:</strong>&nbsp;801-694-8618 <br/>
    <strong>Hidden Peak Phone Number:</strong>&nbsp;801-933-2117   <br/><br/>
  </div>
  <div class="span4">
    <strong>Radio Channels:</strong> <br />
    <strong>Ch1</strong> Ski Patrol Mtn Ops<br />
    <strong>Ch2</strong> Building Services<br />
    <strong>Ch3</strong> Public Safety<br />
    <strong>Ch4</strong> Mountain School<br />
    <strong>Ch5</strong> Tram & Lifts<br />
    <strong>Ch6</strong> Snowcats<br />
    <strong>Ch15</strong> Hosts<br /></p>
  </div>
</div>




