<div class="row">
  <div class="span12">
    <h1>Contact Information</h1>
  </div>
</div>
<table class="table table-striped table-bordered phone_list">
  <tr>
    <th>
      NAME
    </th>
    <th>
      HOME PHONE
    </th>
    <th>
      CELL PHONE
    </th>
    <th>
      EMAIL
    </th>
  </tr>
  <% @userlist.each do |user| %>
      <tr>
        <%= render 'user_contact_info', :object => user %>
      </tr>
  <% end %>
</table>