<%= image_tag('header1.jpg', :alt => 'The View From The Peak', :class => 'host_banner_pic')   %>

<br/>

<div class='myhome_page'>
<h1>Survey Training Videos</h1>

  <iframe width="1280" height="720" src="https://www.youtube.com/embed/AT8sju_to9M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <iframe width="1280" height="720" src="https://www.youtube.com/embed/7x_d5ENxt6M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <iframe width="1280" height="720" src="https://www.youtube.com/embed/VjGKVaceLKo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <iframe width="1280" height="720" src="https://www.youtube.com/embed/cKxUJWt2yJE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <iframe width="1280" height="720" src="https://www.youtube.com/embed/IHJ39s_YPys" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <iframe width="1280" height="720" src="https://www.youtube.com/embed/v9alwZF0NEE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</div>
