<h1>Host Website Training Videos</h1>
<br/>

<div class="row-fluid">
  <div class="span6">
    <h3>Basic Shift Selection</h3>
    <object width="500" height="405">
      <param name="movie" value="http://www.youtube.com/v/Ve9BztJ_Rks&hl=en&fs=1"></param>
      <param name="allowFullScreen" value="true"></param>
      <embed src="http://www.youtube.com/v/Ve9BztJ_Rks&hl=en&fs=1" type="application/x-shockwave-flash"
             allowfullscreen="true" width="500" height="405">

      </embed>
    </object>
  </div>
</div>
<hr/>
<div class="row-fluid">
  <div class="span6">
    <h3>Gravatars?</h3>
    <object width="500" height="405"><param name="movie" value="http://www.youtube.com/v/vL31TjEU4Z0&hl=en&fs=1"></param>
      <param name="allowFullScreen" value="true"></param>
      <embed src="http://www.youtube.com/v/vL31TjEU4Z0&hl=en&fs=1" type="application/x-shockwave-flash" allowfullscreen="true"
             width="500" height="405"></embed></object>
  </div>
</div>