<div class="public_hero">
  <h2>Welcome To The Mountain Host Website!</h2>
  Come on in, the powder's FINE!
  <br/>
</div>
<img src="/images/hosts_2012.jpg" alt="2012 mt host crew" class="host_banner_pic"/>
