<h1>Mountain Host Survey Report</h1>

<table class="table table-striped">
  <tr>
      <th>Host</th>
      <th>Type 1</th>
      <th>Type 2</th>
      <th>Needed</th>
  </tr>
  <tr>

  </tr>

</table>
