<h1>Mountain Host Survey Report
  <a href="/export_surveys_to_csv" target='_blank'>
    <i class='icon-download icon-large' title='Export To CSV'></i>
  </a>
</h1>

<div ng-controller='SurveyCtrl'>
  <% if current_user.has_role? :admin %>
      <div class='row'>
        <div class='span1'>
          <a href="" class='btn btn-success span2'>
            <i class='icon-check icon-large icon-white' ng-click='addCurrentEntries()'> Submit </i>
          </a>
        </div>
      </div>
      <hr/>
  <% end %>

   <div class='row'>
  <table class="table table-striped table-bordered span10">
    <tr>
      <th class='span2'>Host</th>

      <th ng-repeat='hdr in surveyHeader()'>{{ hdr }}</td>

      <th>NSAA</th>
      <th>Needed</th>
      <th>Last Entered</th>
      <% if current_user.has_role? :admin %>
        <th>{{ getToday() }}</th>
      <% end %>
    </tr>

    <tr ng-repeat='host in name_list'>
      <td>
        <a href="/surveys/{{host.id}}" >
          {{ host.name }}
        </a>
      </td>

\      <td ng-repeat='val in surveyRecords(host.id)'>{{ val }}</td>

      <td>{{ host.type1_total }}</td>
      <td>{{ host.needed }}</td>
      <td>{{ host.last_entered }}</td>
      <% if current_user.has_role? :admin %>
          <td class='survey_input'>
            <input title='New Survey Entry'
                   type="text"
                   placeholder="---"
                   ng-model='host.new_value'
                   class='survey_input'>
          </td>
      <% end %>
    </tr>

  </table>
   </div>
</div>