<h1>Survey Records For <%= @user.name %></h1>

<% tot = 0 %>

<% if @surveys.count == 0 %>
    <h3>No Survey Data Available...</h3>
<% else %>
    <div class='user_survey_table'>
    <table class='table table-striped table-bordered'>
      <tr>
        <% @surveys.each do |s| %>
            <th><%= s.date.strftime('%Y%m%d') %></th>
        <% end %>
        <th>Total</th>
      </tr>

      <tr>
        <% @surveys.each do |s| %>
            <td>
              <%= tot += s.type1
                  s.type1 %>
            </td>
        <% end %>
        <td>
          <%= tot %>
        </td>
      </tr>
    </table>
    </div>
<% end %>