<%= link_to "Create New Picture <i class='icon-camera icon-large icon-white'></i>".html_safe,
            new_gallery_path, class: "btn btn-success" %>
<br/><hr/>

<div class='row'>
  <% (0...@galleries.count).step(5) do |p| %>

      <% (0..4).each do |n| %>
          <% pic = @galleries[p + n] %>
          <% break if pic.nil? %>
          <div class='span2'>
            <image src=' <%= pic.pic.url(:medium) %>' class='gallery-thumbnail'></image>
            <br/> <br/>
            <a href=<%= edit_gallery_path(pic.id) %>><i class="icon-wrench btn btn-info" title="edit image"></i></a>
            <%= link_to "<i class='icon-trash btn btn-danger'></i>".html_safe, pic, :method => :delete,
                        :confirm => "You sure you want to delete this Image?",
                        :title => "Delete #{pic.name}", :page => 'admin' %>
          </div>
      <% end %>

  <% end %>
  <br/>
</div>
<br/>
