/*
*= require simple_calendar
*= require_self
*= require bootstrap-datepicker
*= require_tree .
*/

.leader_box {
    border: 1px solid black;
}

.namebox {
    font-size: 8px;
}

.bad_ratio {
    color: red;
}


