/*
*= require simple_calendar
*= require_self
*= require bootstrap-datepicker
*= require_tree .
*/

.leader_box {
    border: 1px solid black;
}

.namebox {
    font-size: 8px;
}

.bad_ratio {
    color: red;
}

.snow_label {
    font-weight: bold;
    font-size: medium;
    text-align: center;
    height: 2em;
}

.snow_value {
    font-weight: lighter;
    font-size: x-large;
    text-align: center;
    height: 2em;
}

.snow_blank_row {
    height: 5em;
}