.user_img {
  border-radius: 50%;
  //display: inline-block;
  //width: 150px;
  //height: 150px;
  //border-radius: 50%;
  //background-repeat: no-repeat;
  //background-position: center center;
  //background-size: cover;
}


.centered {
    text-align: center !important;
}

.icon_obj {
    padding-right: 15px;
}

.icon_red {
    color: red;
}

.icon_blue {
    color: blue;
}







