// Place all the styles related to the Galleries controller here.
// They will automatically be included in custom.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gallery-thumbnail {
  margin: 5px, 5px, 5px, 5px !important;
  padding: 5px, 5px, 5px, 5px !important;
  text-align: center !important;
}