// Place all the styles related to the pages controller here.
// They will automatically be included in custom.css.scss.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.host_banner_pic {
  width: 100%;
  text-align: center;
}
.public_hero {
  text-align: center;
  background-color: #dddddd;
  color: #1f96d3;
  left: 20%;
  width: 60%;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: x-large;
  line-height: 105%;
}

table.phone_list {
  th {
    text-align: center;
  }
}

.home_page_message {
  border-width: 1px;
  border-style: ridge;
  border-color: #dddddd;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(207, 207, 207, 0.54);
  min-height: 200px;
}