// Place all the styles related to the Shifts controller here.
// They will automatically be included in custom.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.align-center {
  text-align: center !important;
}

.shift_user_listing {
  border-width: 1px;
  background-color: #abe1fb;
  border-style: ridge;
  padding: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-radius: 15px;

  table {
    background-color: #8BB3CD;
  }
}

.filter_box {
  border-width: 1px;
  border-color: gray;
  border-style: ridge;
  padding: 15px;
  border-radius: 15px;
}

.shift_button {
  width: 100%;
  height: 3em;
}

#filter_date {
  width: 8em;
}

#set_date_btn {
  width: 1em;
  margin-bottom: 12px;
}

#clear_date {
  width: 1em;
  margin-bottom: 12px;
}

#filter_dayofweek {
  height: 150px;
}

#filter_shifttype {
  height: 150px;
}

#filter_host {
  height: 150px;
}
