// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#survey_modal {
  position:fixed;
  top:15%;
  left:25%;
  margin-left: 5px !important;
  width: 700px !important;
  height: 300px;
  max-height: 90% ;
  background-color: white;
}

.survey_index_entry_box {
  border-width: 1px;
  border-style: ridge;
  border-color: #dddddd;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(207, 207, 207, 0.54);
}

.user_survey_table {
  td: {
    width: 8em;
  }
}

.survey_input {
  width: 2em;
}
