// Place all the styles related to the Users controller here.
// They will automatically be included in custom.css.scss.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index_head_shot {
  height: 150px;
}

.myhome_page {
  margin-left: 0px;
}
.bingo_schedule {
  background-color: rgba(95, 229, 63, 0.51);
  color: rgba(121, 28, 28, 0.80);
  border-width: 1px;
  border-style: ridge;
  border-color: #dddddd;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  border-radius: 15px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  min-height: 285px;

  table {
    background-color: #e1e1e1;
    border-width: 1px;
    border-style: ridge;
    border-radius: 15px;

    th {
      text-align: center;
    }

    td.round_col {
      width: 5em;
      text-align: center;
    }
    td.date_col {
      width: 6em;
    }
  }
}

.user_shift_message_box {
  background-color: rgba(26, 175, 245, 0.36);
  color: rgba(121, 28, 28, 0.80);
  border-width: 1px;
  border-style: ridge;
  border-color: #dddddd;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  border-radius: 15px;
  margin-top: 15px;
  //margin-left: 15px;
  //margin-right: 15px;
  margin-bottom: 15px;
  min-height: 285px;
}

.shifts_today_box {
  border-width: 1px;
  border-style: ridge;
  border-color: #dddddd;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(207, 207, 207, 0.54);

  table {
    border-width: 1px;
    border-style: solid;
    border-color: #747474;
    background-color: #bababa;
    th {
      background-color: #a1965f !important;
      text-align: center;
    }
    td {
      border-width: 1px;
      border-style: ridge;
      border-color: #dddddd;
      text-align: center;
    }
  }
}

.shift_summary_box {
  border-width: 1px;
  border-style: ridge;
  border-color: #dddddd;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(207, 207, 207, 0.54);

  h3 {
    text-align: center;
  }
  table {
    border-width: 1px;
    border-style: solid;
    border-color: #747474;
    background-color: #bababa;
    width: 100%;
    th {
      background-color: #a1965f !important;
      text-align: center;
    }
    td {
      border-width: 1px;
      border-style: ridge;
      border-color: #dddddd;
      text-align: center;
    }
  }
}

.three_shift_box {
  border-width: 1px;
  border-style: ridge;
  border-color: grey;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-radius: 15px;
  text-align: center;
  margin-left: -3px;

  background-color: rgba(129, 255, 46, 0.35);

  table {
    border-width: 1px;
    border-style: solid;
    border-color: #747474;
    background-color: #bababa;
    th {
      background-color: #a1965f !important;
      text-align: center;
    }
    td {
      border-width: 1px;
      border-style: ridge;
      border-color: #dddddd;
      text-align: center;
    }
  }
  }

.user_status_box {
  border-width: 1px;
  border-style: ridge;
  border-color: grey;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-radius: 15px;

  background-color: rgba(252, 255, 56, 0.35);
}

.user_notes_box {
  border-width: 1px;
  border-style: ridge;
  border-color: grey;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-radius: 15px;

  background-color: rgba(255, 102, 81, 0.51);
}

.user_profile_box {
  border-width: 1px;
  border-style: ridge;
  border-color: grey;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
  border-radius: 15px;
  //margin-left: 0px;

  background-color: rgba(62, 202, 255, 0.36);

  .col1 {
    text-align: center;
  }
}

.role_list ul {
  list-style-type: circle;
}

.searchbox {
  border:0px; /*important*/
  background-color:transparent; /*important*/
  width:256px;
  height:28px;
  margin-top: 7px !important;
}

.indent_box {
  margin-left: 10px;
}

#editUserModal {
  position:fixed;
  top:5px;
  left:5px !important;
  margin-left: 5px !important;
  width: 98% !important;
  height: 98% !important;
  max-height: 98% ;

  .modal-body {
    width: 98% !important;
    height: 100% !important;
    max-height: 100% !important;
    background-color: white !important;
  }
}

  .zip_edit {
    width: 8em;
  }

  .state_edit {
    width: 3em;
  }

  .name_edit {
    width: 20em;
  }

  .street_edit {
    width: 40em;
  }

  .nick_edit {
    width: 8em;
  }

  .city_edit {
    width: 25em;
  }

  .phone_edit {
    width: 8em;
  }

  .email_edit {
    width: 15em;
  }

  .year_edit {
    width: 6em;
  }

  .notes_edit {
    width: 50em;
    height: 10em;
    vertical-align: top;
  }



//.edit_user_modal_window {
//  position:fixed;
//  top:5px;
//  left:5px;
//  width: 100% !important;
//  height: 100% !important;
//  max-height: 100%;
//}

