<% if current_user.has_role? :admin %>
  <h1>Ongoing On Mountain Training Report</h1>

  <strong>NOTE:</strong> Date for Fake Training Shifts: <%= OGOMT_FAKE_DATE %><br/><br/>

  <h3>Unscheduled Hosts</h3>
  <table class="table table-striped">
    <tr>
      <th>Host Name</th>

    </tr>
    <% @unscheduled_hosts.each do |host| %>
      <tr>
        <td><%= link_to host[:name], "/users/#{host[:id]}" %></td>
      </tr>
    <% end %>
  </table>

  <br/><br/>

  <h3>Last Year Trainings</h3>
  <table class="table table-striped">
    <tr>
      <th>Host Name</th>
    </tr>
    <% @prev_year_trainings.each do |training| %>
        <tr>
          <td><%= training %></td>
        </tr>
    <% end %>
  </table>

  <br/><br/>

  <h3>This Year Trainings Scheduled</h3>
  <table class="table table-striped">
    <tr>
      <th>Host Name</th>


    </tr>
    <% @curr_year_trainings.each do |training| %>

      <tr>
        <td><%= training %></td>

      </tr>
    <% end %>
  </table>


<% end %>