<div class="row">
  <div class="span12">
    <h1>Host Hauler Drivers Report</h1>  <br/>

    <% User.all.each do |u| %>
      <% next if !u.driver? %>

      <%= u.name %><br/>

    <% end %>
  </div>
</div>
