<div class='footer_menu'>
  <a href="<%= "/send_mail/" + "aamax@xmission.com" %>" class="footer_logo">
    <img alt="Aamax_logo" src="/assets/aamax_logo.gif" title="aaMax Software Creations">
    <strong>aaMax Software Creations</strong>
  </a>



  <%= link_to image_tag("logo.gif"), "http://snowbird.com", :class=>'float_right footer_logo' %>
</div>